{
  "openapi": "3.0.3",
  "info": {
    "title": "tcell.tj API",
    "description": "Auto-generated OpenAPI specification from LSG v2",
    "version": "1.0.0",
    "x-lsg-generated": true
  },
  "servers": [
    {
      "url": "https://tcell.tj",
      "description": "Target server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "GET /",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/%0A": {
      "get": {
        "summary": "GET /%0A",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/4g/": {
      "get": {
        "summary": "GET /4g/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/4g/4g-internet/video-portals.php": {
      "get": {
        "summary": "GET /4g/4g-internet/video-portals.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/_next/static/chunks/1356-39a1ee472b5b9f8d.js": {
      "get": {
        "summary": "GET /_next/static/chunks/1356-39a1ee472b5b9f8d.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/_next/static/chunks/5945-b91fff362bfd7bf2.js": {
      "get": {
        "summary": "GET /_next/static/chunks/5945-b91fff362bfd7bf2.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/_next/static/chunks/app/%5Blocale%5D/page-17915ddc4d15b564.js": {
      "get": {
        "summary": "GET /_next/static/chunks/app/%5Blocale%5D/page-17915ddc4d15b564.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/_next/static/css/7356b2e5e72b210e.css": {
      "get": {
        "summary": "GET /_next/static/css/7356b2e5e72b210e.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/about-tcell/contacts.php": {
      "get": {
        "summary": "GET /about-tcell/contacts.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/assets/images/favicon-web-32.png": {
      "get": {
        "summary": "GET /assets/images/favicon-web-32.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/assets/img/gif/people.gif": {
      "get": {
        "summary": "GET /assets/img/gif/people.gif",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/assets/vendor/linear-icons/css/linear-icons.min.css": {
      "get": {
        "summary": "GET /assets/vendor/linear-icons/css/linear-icons.min.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/assets/vendor/simple-line-icons/fonts/Simple-Line-Icons.eot": {
      "get": {
        "summary": "GET /assets/vendor/simple-line-icons/fonts/Simple-Line-Icons.eot",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "v",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/cache/css/s1/tcell-ru-new/page_71831cb363645c0bcd5a2686b229e7e6/page_71831cb363645c0bcd5a2686b229e7e6.css": {
      "post": {
        "summary": "POST /bitrix/cache/css/s1/tcell-ru-new/page_71831cb363645c0bcd5a2686b229e7e6/page_71831cb363645c0bcd5a2686b229e7e6.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/cache/css/s1/tcell-ru/page_4f70fa7b58ef114b4799dbdc0818e63c/page_4f70fa7b58ef114b4799dbdc0818e63c.css": {
      "get": {
        "summary": "GET /bitrix/cache/css/s1/tcell-ru/page_4f70fa7b58ef114b4799dbdc0818e63c/page_4f70fa7b58ef114b4799dbdc0818e63c.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "159683212932574",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/cache/css/s2/tcell-tj-new/page_ac21a55ba5dd10fede41dde80a5535a0/page_ac21a55ba5dd10fede41dde80a5535a0.css": {
      "post": {
        "summary": "POST /bitrix/cache/css/s2/tcell-tj-new/page_ac21a55ba5dd10fede41dde80a5535a0/page_ac21a55ba5dd10fede41dde80a5535a0.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/cache/css/s3/tcell-en-new/template_886397fdef4213ff96297abf95f73de8/template_886397fdef4213ff96297abf95f73de8.css": {
      "post": {
        "summary": "POST /bitrix/cache/css/s3/tcell-en-new/template_886397fdef4213ff96297abf95f73de8/template_886397fdef4213ff96297abf95f73de8.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/cache/js/s2/tcell-tj-new/page_a81d73955a74dd2a2e3a8d2c8f27d42d/page_a81d73955a74dd2a2e3a8d2c8f27d42d.js": {
      "post": {
        "summary": "POST /bitrix/cache/js/s2/tcell-tj-new/page_a81d73955a74dd2a2e3a8d2c8f27d42d/page_a81d73955a74dd2a2e3a8d2c8f27d42d.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/css/api.core/images/form/checkbox.png": {
      "get": {
        "summary": "GET /bitrix/css/api.core/images/form/checkbox.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/js/api.core/form.js": {
      "get": {
        "summary": "GET /bitrix/js/api.core/form.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "15131678401760",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/.default/components/bitrix/breadcrumb/breadcrumb/style.css": {
      "get": {
        "summary": "GET /bitrix/templates/.default/components/bitrix/breadcrumb/breadcrumb/style.css",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "1429703193947",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-en-corporations/tsr-fonts/ts-icons-all.ttf": {
      "get": {
        "summary": "GET /bitrix/templates/tcell-en-corporations/tsr-fonts/ts-icons-all.ttf",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-en/tsr-fonts/icomoon_new.eot": {
      "post": {
        "summary": "POST /bitrix/templates/tcell-en/tsr-fonts/icomoon_new.eot",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "ppeep3",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-ru/components/askaron/askaron.ibvote.iblock.vote/TCELL_VOTE/images/over.gif": {
      "get": {
        "summary": "GET /bitrix/templates/tcell-ru/components/askaron/askaron.ibvote.iblock.vote/TCELL_VOTE/images/over.gif",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-ru/js/html5shiv-printshiv.min.js": {
      "get": {
        "summary": "GET /bitrix/templates/tcell-ru/js/html5shiv-printshiv.min.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-ru/js/main_rwd_h.min.js": {
      "get": {
        "summary": "GET /bitrix/templates/tcell-ru/js/main_rwd_h.min.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-ru/js/modernizr.custom.js": {
      "get": {
        "summary": "GET /bitrix/templates/tcell-ru/js/modernizr.custom.js",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-ru/tsr-fonts/icomoon_new.svg": {
      "post": {
        "summary": "POST /bitrix/templates/tcell-ru/tsr-fonts/icomoon_new.svg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "ppeep3",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/bitrix/templates/tcell-tj/images/favicons/apple-touch-icon-144x144.png": {
      "get": {
        "summary": "GET /bitrix/templates/tcell-tj/images/favicons/apple-touch-icon-144x144.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/career/vacancies.php": {
      "get": {
        "summary": "GET /career/vacancies.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/contact-us/t-solution/chat-bot": {
      "get": {
        "summary": "GET /contact-us/t-solution/chat-bot",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/annual-package-2018/": {
      "post": {
        "summary": "POST /content/news/annual-package-2018/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/daily-mobile-from-tcell-is-back": {
      "post": {
        "summary": "POST /content/news/daily-mobile-from-tcell-is-back",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/guess-the-tune-and-win-prizes-quiz-melomania/": {
      "post": {
        "summary": "POST /content/news/guess-the-tune-and-win-prizes-quiz-melomania/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/innovation-for-changes-in-tcell-start": {
      "post": {
        "summary": "POST /content/news/innovation-for-changes-in-tcell-start",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "PAGEN_1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/it-conference-tajikistan-techconf-2016-": {
      "post": {
        "summary": "POST /content/news/it-conference-tajikistan-techconf-2016-",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/pilot-project-on-development-of-open-educational-resources-has-been-successfully-completed/": {
      "post": {
        "summary": "POST /content/news/pilot-project-on-development-of-open-educational-resources-has-been-successfully-completed/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/second-draw/": {
      "post": {
        "summary": "POST /content/news/second-draw/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/tcell-4g-network/": {
      "post": {
        "summary": "POST /content/news/tcell-4g-network/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/tcell-fft-tajikistan/": {
      "post": {
        "summary": "POST /content/news/tcell-fft-tajikistan/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/tcell-is-instant-quiz-you-earn-/": {
      "post": {
        "summary": "POST /content/news/tcell-is-instant-quiz-you-earn-/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/tcell-vstupil-v-sovet-po-iskusstvennomu-intellektu-/": {
      "post": {
        "summary": "POST /content/news/tcell-vstupil-v-sovet-po-iskusstvennomu-intellektu-/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/the-service-is-wise-thoughts-/": {
      "post": {
        "summary": "POST /content/news/the-service-is-wise-thoughts-/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/the-winner-of-the-ticket-to-russia-for-58-day": {
      "post": {
        "summary": "POST /content/news/the-winner-of-the-ticket-to-russia-for-58-day",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "PAGEN_1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/news/ussd/": {
      "post": {
        "summary": "POST /content/news/ussd/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/content/videos": {
      "get": {
        "summary": "GET /content/videos",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/corporations/communication-with-client/corporate-ringtone.php": {
      "get": {
        "summary": "GET /corporations/communication-with-client/corporate-ringtone.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/corporations/novosti/6306/": {
      "get": {
        "summary": "GET /corporations/novosti/6306/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "novosti_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/corporations/roaming/pozvoni-domoi/iz-kitaya.php": {
      "get": {
        "summary": "GET /corporations/roaming/pozvoni-domoi/iz-kitaya.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/corporations/roaming/real-easy/connection-conditions.php": {
      "get": {
        "summary": "GET /corporations/roaming/real-easy/connection-conditions.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/corporations/support/services/www.tcell.tj": {
      "get": {
        "summary": "GET /corporations/support/services/www.tcell.tj",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/content/news/daily-smartphone-campaign-draw-46/": {
      "post": {
        "summary": "POST /en/content/news/daily-smartphone-campaign-draw-46/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/content/news/teznet-action/": {
      "post": {
        "summary": "POST /en/content/news/teznet-action/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/corporations/internet/options-and-services/new-internet-packages-g.php": {
      "post": {
        "summary": "POST /en/corporations/internet/options-and-services/new-internet-packages-g.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/corporations/services/mobile-payments/top-up-from-agroinvestbank.php": {
      "get": {
        "summary": "GET /en/corporations/services/mobile-payments/top-up-from-agroinvestbank.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/index/index/pageId/1447/": {
      "get": {
        "summary": "GET /en/index/index/pageId/1447/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/index/index/pageId/2297/": {
      "get": {
        "summary": "GET /en/index/index/pageId/2297/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/index/index/pageId/516/": {
      "get": {
        "summary": "GET /en/index/index/pageId/516/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/links/subscribers/beware-of-scammers/fraud-schemes.php": {
      "get": {
        "summary": "GET /en/links/subscribers/beware-of-scammers/fraud-schemes.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/private-individuals/mobile-connection/565": {
      "get": {
        "summary": "GET /en/private-individuals/mobile-connection/565",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mobile-connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/private-individuals/news/3116": {
      "post": {
        "summary": "POST /en/private-individuals/news/3116",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/private-individuals/vacancies/3": {
      "get": {
        "summary": "GET /en/private-individuals/vacancies/3",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "vacancies_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/rates/shares/annual-package-2021.php": {
      "get": {
        "summary": "GET /en/rates/shares/annual-package-2021.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/roaming/how-to-save/call-back-from-china.php": {
      "get": {
        "summary": "GET /en/roaming/how-to-save/call-back-from-china.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/service/Content-services/igame-2048.php": {
      "get": {
        "summary": "GET /en/service/Content-services/igame-2048.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/services/communication/international-communication.php": {
      "get": {
        "summary": "GET /en/services/communication/international-communication.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/services/mobile-payments/refilling-the-balance-in-russia.php": {
      "get": {
        "summary": "GET /en/services/mobile-payments/refilling-the-balance-in-russia.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/t-solution/7": {
      "get": {
        "summary": "GET /en/t-solution/7",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "t-solution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/en/tariffs/unlimited-4g.php": {
      "get": {
        "summary": "GET /en/tariffs/unlimited-4g.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/images/darkoreco.jpg": {
      "get": {
        "summary": "GET /images/darkoreco.jpg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/internet/mobile-apps/": {
      "get": {
        "summary": "GET /internet/mobile-apps/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/mobile-internet/archive/unlim2.php": {
      "get": {
        "summary": "GET /mobile-internet/archive/unlim2.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/public/userfiles/design/online_consultant_5.jpg": {
      "get": {
        "summary": "GET /public/userfiles/design/online_consultant_5.jpg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/public/userfiles/pic/News/preview_3topnew.jpg": {
      "post": {
        "summary": "POST /public/userfiles/pic/News/preview_3topnew.jpg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/roaming/how-to-save/roaming-from-germany-to-tajikistan.php": {
      "get": {
        "summary": "GET /roaming/how-to-save/roaming-from-germany-to-tajikistan.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ru/index/index/pageId/1488/": {
      "get": {
        "summary": "GET /ru/index/index/pageId/1488/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ru/index/index/pageId/2103/": {
      "get": {
        "summary": "GET /ru/index/index/pageId/2103/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ru/index/index/pageId/280/page/4/": {
      "get": {
        "summary": "GET /ru/index/index/pageId/280/page/4/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ru/posts/29": {
      "get": {
        "summary": "GET /ru/posts/29",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "posts_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ru/private-individuals/services/1326": {
      "get": {
        "summary": "GET /ru/private-individuals/services/1326",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "services_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/services/alif-payments/img/vigoda.svg": {
      "get": {
        "summary": "GET /services/alif-payments/img/vigoda.svg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sms": {
      "get": {
        "summary": "GET /sms",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tg/index/index/pageId/608/": {
      "get": {
        "summary": "GET /tg/index/index/pageId/608/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "pageId_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/content/news/alibi-idomi-cipta-awobajo-ba-rusia-50-rhoose/": {
      "post": {
        "summary": "POST /tj/content/news/alibi-idomi-cipta-awobajo-ba-rusia-50-rhoose/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/content/news/ishtirokchilari-digitalcamptcell-do-afte-ast-ki-ba-mahtani-somono-thorat-maseland/": {
      "post": {
        "summary": "POST /tj/content/news/ishtirokchilari-digitalcamptcell-do-afte-ast-ki-ba-mahtani-somono-thorat-maseland/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/content/news/tcell-and-fmfb/": {
      "post": {
        "summary": "POST /tj/content/news/tcell-and-fmfb/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/corporations/": {
      "get": {
        "summary": "GET /tj/corporations/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/corporations/roaming/ba-hona-zang-bizan/az-olmon.php": {
      "get": {
        "summary": "GET /tj/corporations/roaming/ba-hona-zang-bizan/az-olmon.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/device/3g-modems/": {
      "get": {
        "summary": "GET /tj/device/3g-modems/",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/links/about-tcell/haridori.php": {
      "get": {
        "summary": "GET /tj/links/about-tcell/haridori.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/service/communication/bemahdud10.php": {
      "get": {
        "summary": "GET /tj/service/communication/bemahdud10.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tj/tarofahoi-nav/tarofai-fason.php": {
      "get": {
        "summary": "GET /tj/tarofahoi-nav/tarofai-fason.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/iblock/39c/aktsii_dubai2018_ru.png": {
      "get": {
        "summary": "GET /upload/iblock/39c/aktsii_dubai2018_ru.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/iblock/943/main_cover_site_01.png": {
      "get": {
        "summary": "GET /upload/iblock/943/main_cover_site_01.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "iblock_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/iblock/efc/main_cover_site.png": {
      "get": {
        "summary": "GET /upload/iblock/efc/main_cover_site.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/medialibrary/22c/1.JPG": {
      "get": {
        "summary": "GET /upload/medialibrary/22c/1.JPG",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/medialibrary/4bf/devices_fb.jpg": {
      "get": {
        "summary": "GET /upload/medialibrary/4bf/devices_fb.jpg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/medialibrary/74c/180.png": {
      "get": {
        "summary": "GET /upload/medialibrary/74c/180.png",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/medialibrary/9e4/50.jpeg": {
      "get": {
        "summary": "GET /upload/medialibrary/9e4/50.jpeg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/medialibrary/d32/1.jpeg": {
      "get": {
        "summary": "GET /upload/medialibrary/d32/1.jpeg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/upload/svg/icon-006.svg": {
      "get": {
        "summary": "GET /upload/svg/icon-006.svg",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/controllers/ajax/ajax.php": {
      "get": {
        "summary": "GET /controllers/ajax/ajax.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/player.php": {
      "get": {
        "summary": "GET /player.php",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "video",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/NewsImage.aspx": {
      "post": {
        "summary": "POST /api/NewsImage.aspx",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/100633": {
      "post": {
        "summary": "POST /news/100633",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/102613": {
      "post": {
        "summary": "POST /news/102613",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/104343": {
      "post": {
        "summary": "POST /news/104343",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/106301": {
      "post": {
        "summary": "POST /news/106301",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/120660": {
      "post": {
        "summary": "POST /news/120660",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/122310": {
      "post": {
        "summary": "POST /news/122310",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/124167": {
      "post": {
        "summary": "POST /news/124167",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/125775": {
      "post": {
        "summary": "POST /news/125775",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/127350": {
      "post": {
        "summary": "POST /news/127350",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/128867": {
      "post": {
        "summary": "POST /news/128867",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/129989": {
      "post": {
        "summary": "POST /news/129989",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/131518": {
      "post": {
        "summary": "POST /news/131518",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/132944": {
      "post": {
        "summary": "POST /news/132944",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/134212": {
      "post": {
        "summary": "POST /news/134212",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/135268": {
      "post": {
        "summary": "POST /news/135268",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/136299": {
      "post": {
        "summary": "POST /news/136299",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/137189": {
      "post": {
        "summary": "POST /news/137189",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/138214": {
      "post": {
        "summary": "POST /news/138214",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/139169": {
      "post": {
        "summary": "POST /news/139169",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/139171": {
      "post": {
        "summary": "POST /news/139171",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/139842": {
      "post": {
        "summary": "POST /news/139842",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/140690": {
      "post": {
        "summary": "POST /news/140690",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/141527": {
      "post": {
        "summary": "POST /news/141527",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/142361": {
      "post": {
        "summary": "POST /news/142361",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/143338": {
      "post": {
        "summary": "POST /news/143338",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/204176": {
      "post": {
        "summary": "POST /news/204176",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/205203": {
      "post": {
        "summary": "POST /news/205203",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/205909": {
      "post": {
        "summary": "POST /news/205909",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/206684": {
      "post": {
        "summary": "POST /news/206684",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/207345": {
      "post": {
        "summary": "POST /news/207345",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/207855": {
      "post": {
        "summary": "POST /news/207855",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/208248": {
      "post": {
        "summary": "POST /news/208248",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/208662": {
      "post": {
        "summary": "POST /news/208662",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/209065": {
      "post": {
        "summary": "POST /news/209065",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/209348": {
      "post": {
        "summary": "POST /news/209348",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/209707": {
      "post": {
        "summary": "POST /news/209707",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/210035": {
      "post": {
        "summary": "POST /news/210035",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/210312": {
      "post": {
        "summary": "POST /news/210312",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/210738": {
      "post": {
        "summary": "POST /news/210738",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/211120": {
      "post": {
        "summary": "POST /news/211120",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/211526": {
      "post": {
        "summary": "POST /news/211526",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/211878": {
      "post": {
        "summary": "POST /news/211878",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/212280": {
      "post": {
        "summary": "POST /news/212280",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/212628": {
      "post": {
        "summary": "POST /news/212628",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/212957": {
      "post": {
        "summary": "POST /news/212957",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/213291": {
      "post": {
        "summary": "POST /news/213291",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/213639": {
      "post": {
        "summary": "POST /news/213639",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/213945": {
      "post": {
        "summary": "POST /news/213945",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/214236": {
      "post": {
        "summary": "POST /news/214236",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/214480": {
      "post": {
        "summary": "POST /news/214480",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/214778": {
      "post": {
        "summary": "POST /news/214778",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/215067": {
      "post": {
        "summary": "POST /news/215067",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/215371": {
      "post": {
        "summary": "POST /news/215371",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/215653": {
      "post": {
        "summary": "POST /news/215653",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/218337": {
      "post": {
        "summary": "POST /news/218337",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/218704": {
      "post": {
        "summary": "POST /news/218704",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/219117": {
      "post": {
        "summary": "POST /news/219117",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/219681": {
      "post": {
        "summary": "POST /news/219681",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/220006": {
      "post": {
        "summary": "POST /news/220006",
        "description": "Discovered endpoint (confidence: 0.50)",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news/220320": {
      "post": {
        "summary": "POST /news/220320",
        "description": "Discovered endpoint (confidence: 0.50)",
[...]
